
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-container {
  width: 80%;
  }
  
  .slider {
    width: 100%;
    border: 1px solid red;
    position: relative;
  }
  .slide {
    width: 100%;
    position: absolute;
  }
  .slide img{
    width: 100%;
  }
.button_container{
 position: relative;
 top: 270px;
 text-align: center;
}

  